/*  #FFFD17
    #E8DB0C - NAVBAR HEADER
    #FFE500 - BODY BACKGROUND
    #E8C90C - FOOTER
    #FFD30D
    https://colorhunt.co/palette/fffd17e8db0cffe500e8c90c#justCreated */

body {
  background-color: #ffe500;
}
/* ************************** General Classes ************************** */
.headingFont{
  font-family: 'Merriweather', serif;
}

.bodyFont{
    font-family: 'Montserrat', sans-serif;    
}


/* ************************** Header of Page ************************** */

.bg-img {
  background-image: url("https://cdn.wallpapersafari.com/12/71/woeRid.jpg");
  position: relative;
  min-height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1%;
}

.introText{
  font-size: 3.0rem;
  color: white;
  padding-right: 5%;
}

.introContainer{
  padding: 3% 7% 5% 7%;
  color: black;
  font-weight: bold;
}

.introCardContainer {
  padding: 4% 5% 4% 5%;
}

.introCard{
  opacity: 0.9;
  background-color: #FFFD17;
  text-align: right;
  line-height: 2;
}

.introQuoteText{
  font-size: 3rem;
  font-weight: bolder;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  opacity: 1;
}

.navbar {
  border-radius: 12.5px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1%;
  background-color: #e8c90c;
  opacity: 1;
  padding-right: 2%;
  padding-left: 2%;
}

@media (max-width: 992px) {
  .introText{
    font-size: 2.5rem;
    color: white;
    padding: 10% 10%;
  }

}












